SOURCES/libreoffice-help-6.4.7.2.tar.xz.asc
SOURCES/libreoffice-translations-6.4.7.2.tar.xz
SOURCES/libreoffice-translations-6.4.7.2.tar.xz.asc
SOURCES/libreoffice-6.4.7.2.tar.xz
SOURCES/libreoffice-6.4.7.2.tar.xz.asc
SOURCES/libreoffice-help-6.4.7.2.tar.xz
