SOURCES/libreoffice-help-7.1.8.1.tar.xz
SOURCES/libreoffice-help-7.1.8.1.tar.xz.asc
SOURCES/libreoffice-translations-7.1.8.1.tar.xz
SOURCES/libreoffice-translations-7.1.8.1.tar.xz.asc
SOURCES/libreoffice-7.1.8.1.tar.xz
SOURCES/libreoffice-7.1.8.1.tar.xz.asc
